.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
    background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-gray-solid-color-background.jpg');
  }
  
  /* Style for the form */
  form {
    width: 50%; /* Adjust the width as needed */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .backdrop{
    backdrop-filter: blur(10px);
  }
  
  /* Style for the form elements */
  form > div {
    margin-bottom: 15px;
  }
  
  /* Style for the submit button */
  button {
    padding: 10px;
    background-color: #4caf50; /* Green background color */
    color: white; /* White text color */
    border: none; /* Remove border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
  }
  
  /* Add a hover effect for the button */
  button:hover {
    background-color: #45a049;
  }
  
  /* Style for error messages */
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
  }

  .contact-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px; /* Adjust the margin as needed */
    color: #779eb2; /* Add a color for better visibility */
  padding-right: 15px;
  }