.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
  padding-top: 70px; /* Add the height of your navigation bar */
}

.hero__img-container {
  max-width: 40%; /* Adjust the percentage to scale down the image */
  text-align: center; /* Center the image within its container */
  margin: 0 auto; /* Center the container within its parent */
}

.hero__img {
  max-width: 100%;
  height: auto;
}

.hero__name {
  font-size: 20px; /* Add your desired font size */
  color: your-desired-color; /* Add your desired color */
  /* Add any other styles you want for this specific span */
}

.hero__name--highlight {
  font-size: 30px; /* Add your desired font size */
  color: #779eb2; /* Add your desired color */
  /* Add any other styles you want for this specific span */
}
