.hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    text-align: center;
    padding-top: 100px/* Add the height of your navigation bar */;
  }
  
  .hero__img-container {
    max-width: 50%; /* Adjust the percentage as needed */
    text-align: center; /* Center the image within its container */
    margin: 0 auto; /* Center the container within its parent */
  }
  
  .hero__img {
    max-width: 100%;
    height: auto;
  }
  