/* resume.css */

section {
  margin-top: 100px;
  margin-left: 40px;
}

button {
  padding: 15px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.resume-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.experience-column {
  text-align: left;
}

.experience-section h2 {
  color: #779eb2;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.experience-column h3 {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
}

.experience-column ul {
  font-size: 18px;
  list-style-type: none;
}
